@import './reset.css';
@import './variables.css';

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'Lack Line Regular';
  font-weight: 300;
  font-style: normal;
  src: url('../static/fonts/lack-line-italic-webfont.woff2');
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: var(--font-1);
  font-size: var(--fontsize-1);
  line-height: var(--line-height);
  letter-spacing: var(--spacing);
  -webkit-font-smoothing: antialiased;
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: var(--spacing-2);
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

@media (max-width: 768px) {
  body {
    padding: var(--spacing-1);
  }
}
